.lineage-view-button {
    width: 34px !important;
    height: 34px !important;
    padding: 8px !important;
    font-size: inherit;
    color: var(--text-muted) !important;
    background-color: var(--interactive-normal);
    --icon-size: var(--icon-s);
    --icon-stroke: var(--icon-s-stroke-width);
    cursor: pointer;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
}

.lineage-view-button:disabled {
    cursor: not-allowed;
}

.lineage-view-button:hover {
    background-color: var(--interactive-hover);
}

.lineage-view-button:disabled {
    cursor: not-allowed;
    color: var(--color-base-40) !important;
}

.theme-dark {
    & .lineage-view-button[data-active='true'] {
        background-color: var(--color-base-40);
    }
}

.theme-light {
    & .lineage-view-button[data-active='true'] {
        background-color: var(--color-base-25);
    }
}

.buttons-group {
    border-radius: var(--radius-s);
    overflow: hidden;
    box-shadow: var(--input-shadow);
    display: flex;
    background-color: var(--interactive-normal);
}

.buttons-group--vertical {
    flex-direction: column;
}
